.container {
    border-top: 8px solid #222;
    background-color: black;
    color: grey;
}

.wrapper {
    width: 50%;
    padding: 2rem;
    padding-bottom: 20px;
    margin: 0 auto;
}

.listDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.listDiv > ul {
    list-style: none;
    padding-left: 0;
}

.listDiv > ul > li {
    font-size: 13px;
    padding-bottom: 15px;
    display: inline-block;
    vertical-align: top;
    /* min-width: 100px; */
    width: 25%;
}


.listDiv > ul > li > span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.customSelect {
    width: 15%;
    height: 5%;
    position: relative;
    margin-right: 15px; 
    margin-bottom: 30px;
}

.customSelect > select {
    padding: 15px 30% 15px 25px;
    background-color: black;
    color: grey;
    border-radius: 4px;
    appearance: none;
    width: 100%;
    border: 1px solid grey;
    font-size: 16px;
    text-align: right;
}

.customSelect:before {
    position: absolute;
    content: '\1F310';
    line-height: 300%;
    display: inline-block;
    left: 8px;
}

.customSelect:after {
    position: absolute;
    content: '\1F893';
    color: grey;
    font-size: 30px;
    top: 30%;
    display: inline-block;
    right: 5px;   
    pointer-events: none;
}

@media screen and (min-width: 1201px){
    .wrapper {
        width: 1000px;
    }
}

@media screen and (min-width: 740px) and (max-width: 1200px){

    .wrapper {
        width: 85%;
    }

    .listDiv > ul > li {
        width: 25%;
    }

    .customSelect { 
        width: 20%;
    }
}

@media screen and (min-width:500px) and (max-width: 739px){
    .wrapper {
        width: 80%;
    }

    .listDiv > ul > li {
        width: 33%;
    }

    .customSelect { 
        width: 40%;
    }
}

@media screen and (max-width:499px){
    .wrapper {
        width: 80%;
    }

    .listDiv > ul > li {
        width: 50%;
    }

    .customSelect { 
        width: 40%;
    }
}