.wrapper {
    background-image: url('netflix_background.jpg');
    background-size: cover;
    padding-bottom: 15%;
    -webkit-box-shado: inset 0px 330px 300px -50px rgba(0, 0, 0, 0.8), inset 0px -330px 300px 50px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0px 330px 300px -50px rgba(0, 0, 0, 0.8), inset 0px -330px 300px 50px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 330px 300px -50px rgba(0, 0, 0, 0.8), inset 0 -330px 300px 50px rgba(0, 0, 0, 0.8);
    border-bottom: 8px solid #222;
}

.header {
    display: grid;
    grid-template-columns: auto 120px 200px;
    height: 100px;
    align-items: center;
}

select {
    padding: 10px 10px 10px 25px;
    background-color: black;
    color: white;
    border-radius: 4px;
    appearance: none;
    width: 100%;
    border: 1px solid white;
} 

.customSelect {
    position: relative;
    display: inline-flex;
    align-items: center;
    /* grid-column: 2; */
    margin-right: 15px; 
    align-self: center;
}

.customSelect:before {
    position: absolute;
    content: '\1F310';
    /* line-height: 100%; */
    display: inline-block;
    left: 5px;
}

.customSelect:after {
    position: absolute;
    content: '\25BC';
    color: white;
    font-size: 12px;
    display: inline-block;
    right: 10px;   
    pointer-events: none;
}

.loginButton {
    align-self: center;
    width: 60%;
    grid-column: 3;
    margin-left: 15px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #E50914;
    color: white;
    transition-duration: 0.2s;
}

.loginButton:hover {
    background-color: rgb(185, 29, 29);
}

.startInputWrapper {
    width: 50%;
    margin: 0 auto;
    color: white;
}

.startContainer {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

.startContainer > h1 {
    font-size: 4rem;
    margin: 0 auto;
    line-height: 1.1;
}

.startContainer > h2 {
    font-weight: 400;
    margin: 1rem auto;
} 

.logo {
    margin-left: 50px;
}

@media screen and (min-width: 1450px){
    .logo {
        height: 2.8125rem;
        width: 10.4375rem;
    }
    .startContainer > h1 {
        font-size: 4rem;
        max-width: 820px;
    }
    
    .startContainer > h2 {
        font-size: 1.625rem;
    }
    .startContainer {
        margin-top: 8%;
    }
    .mobileHeader {
        display: none;
    }
    .desktopHeader {
        display: block;
    }
    .wrapper {
        padding-bottom: 7%;
    }
}

@media screen and (min-width: 551px) and (max-width: 1449px){
    .logo {
       height: 2.25rem;
       width: 8.375rem;
    }
    .startContainer > h1 {
        font-size: 3.125rem;
        max-width: 640px;
    }
    .startContainer > h2 {
        font-size: 1.625rem;
    }
    .mobileHeader {
        display: none;
    }
    .desktopHeader {
        display: block;
    }
}

@media screen and (max-width: 550px){
    .desktopHeader {
        display: none;
    }
    .mobileHeader {
        display: block;
    }
    .header {
        grid-template-columns: auto 100px 130px;

    }
    .logo {
        height: 1.7rem;
        width: auto;
        margin-left: 25px;
    }
    .loginButton{
        padding: 5px;
        
    }
    select {
        padding: 5px 5px 5px 25px;
    }
    .customSelect {
        margin-right: 0;
    }
    .customSelect:after, .customSelect:before{
        line-height: 25px;
    }

    .startContainer > h1 {
        font-size: 1.75rem;
    }

    .startContainer > h2 {
        font-size: 1.125rem;
    }
}   
