.container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.container > h1 {
    margin-top: 0;
    padding-top: 50px;
    font-size: 3.125rem;
}

.container > ul {
    list-style: none;
    width: 70%;
    max-width: 815px;
    padding-left: 0;
    padding-bottom: 30px;
    margin: 2em auto;
}

.container > ul > li {
    background-color: #333;
    margin: 0 0 8px;
}

.container > ul > li > button {
    background-color: #333;
    border: none;
    width: 100%;
    color: white;
    text-align: left;
    padding: 20px 20px;
    font-size: 1.625rem;
    cursor: pointer;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open {
    max-height: 1200px;
    transition: max-height .25s cubic-bezier(.5,0,.1,1);}

.close {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s cubic-bezier(.5,0,.1,1);
}


.txt {
    display: inline-block;
    padding: 1.2rem;
    text-align: left;
    font-size: 1.625rem;
}

.svgClose {
    height: 25px;
    rotate: 45deg;
}

.svgOpen {
    height: 25px;
}


@media screen and (min-width: 551px) and (max-width: 950px){
    .container > h1 {
        font-size: 2.5rem;
    }

    .container > ul {
        width: 80%;
        max-width: 815px;
    }

    .container > ul > li > button { 
        font-size: 1.25rem;
    }

    .txt {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 550px){
    .container > h1 {
        font-size: 1.625rem;
    }

    .container > ul {
        width: 100%;
    }

    .container > ul > li > button { 
        font-size: 1.125rem;
    }

    .txt {
        font-size: 1.125rem;
    }

}