.img {
    height: 400px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 950px){

    .img {
        width: 90%;
        height: 90%;
    }

}