.container {
    width: 100%;
    text-align: center;
}

.startForm {
    display: flex;
    justify-content: center;
}

.error {
    color: orange;
    font-size: 1rem;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
    visibility: hidden;
    position: absolute;
    width: 100%;
}

.startInput {
    font-size: 16px;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}

.floatingLabelWrapper {
    position: relative;
}

.floatingPlaceholder {
    position: absolute;
    left: 10px;
    color: grey;
    pointer-events: none;
    transition:all 0.1s linear;
}

.floatingPlaceholderFocus {
    font-size: 13px;
    top: 3px;
    left: 10px;
    font-weight: bold;
}

.startButton {

    background-color: #E50914;
    color: white;
    font-size: 1.5rem;
    border: none;
    box-sizing: border-box;
}

.startButton:hover {
    background-color: rgb(255, 33, 33);
}

.container > p {
    margin: 0 auto;
    padding-bottom: 20px;
}

@media screen and (min-width: 1450px){
    .container > p {
        font-size: 1.2rem;
        max-width: none;
        font-weight: 400;
    }
    .startInput {
        min-width: 500px;
        height: 70px;
    }
    .startButton {
        min-width: 240px;
        height: 70px;
        border-left: 1px solid #333;
    }
    .floatingPlaceholder {
        top: 25px;
    }
    .floatingPlaceholderFocus {
        top: 3px;
    }
}

@media screen and (min-width: 951px) and (max-width: 1449px){
    .container > p {
        font-size: 1.2rem;
        font-weight: 400;
    }
    .startInput {
        min-width: 450px;
        height: 60px;
    }
    .startButton {
        min-width: 200px;
        height: 60px;
        border-left: 1px solid #333;
    }
    .floatingPlaceholder {
        top: 20px;
    }
    .floatingPlaceholderFocus {
        top: 3px;
    }
}

@media screen and (min-width: 740px) and (max-width: 950px){
    .container > p {
        font-size: 23px;
        font-weight: 400;
        padding: 0 10%;
        max-width: 400px;
        margin-bottom: 10px;
    }
    .floatingPlaceholder {
        top: 20px;
    }
    .floatingPlaceholderFocus {
        top: 3px;
    }
    .startForm {
        flex-direction: column;
        align-items: center;
    }
    .startInput {
        min-width: 500px;
        height: 60px;
    }
    .startButton {
        margin-top: 40px;
        min-width: 125px;
        height: 40px;
        border-radius: 3px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 739px){
    .container > p {
        font-size: 18px;
        font-weight: 400;
        max-width: 400px;
        padding: 0 10%;
        margin-bottom: 10px;
    }
    .floatingPlaceholder {
        top: 12px;
    }
    .floatingPlaceholderFocus {
        top: 3px;
    }
    .startForm {
        flex-direction: column;
        align-items: center;
    }
    .startInput {
        min-width: 500px;
        height: 48px;
        padding: 10px 10px 0;
    }
    .startButton {
        margin-top: 40px;
        min-width: 125px;
        height: 40px;
        border-radius: 3px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px){
    .container > p {
        font-size: 18px;
        font-weight: 400;
        max-width: 400px;
        padding: 0 10%;
        margin-bottom: 15px;
    }
    .floatingPlaceholder {
        top: 12px;
    }
    .floatingPlaceholderFocus {
        top: 3px;
    }
    .startForm {
        flex-direction: column;
        align-items: center;
    }
    .floatingLabelWrapper {
        width: 100%;
    }
    .startInput {
        width: 100%;
        height: 48px;
        line-height: 48px;
        padding: 10px 10px 0;
    }
    .startButton {
        margin-top: 40px;
        min-width: 125px;
        height: 40px;
        border-radius: 3px;
        font-size: 1rem;
    }
}   